.box{
    width: 120px;
    height: 160px;
    background-image: url(images/walk_sprite.png);
    text-align: center;
    line-height: 100px;
}

.rot{
    animation: rot 1s infinite;
}

@keyframes rot {
    50%{
        transform: rotate(45deg);
    }
}
